{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    html,
    body {
        height: 100%;
    }

    body {
        background-color: #191414;
    }

    .header {
        color: #1DB954;
    }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex">
    <div class="row align-self-center w-100 mt-5">
        <h3 class="header">About this project</h3>
    </div>
</div>
<div class="container d-flex">
    <div class="row align-self-center w-100 mt-3 header">
        <p>
            Spotify Crescendo is a project done in Spring 2020 for Cornell Data
            Science Insight's Project Team.
        </p>
        <p>
            The project focused on analyzing the
            top charts of Spotify's songs from the past couple of years and
            aimed to identify characteristics from those top songs.
        </p>
        <p>
            The data for this project was gathered through <a
                href="https://developer.spotify.com/documentation/web-api/">Spotify's
                API</a>. First
            we web scraped the top 200 songs from Jan 2018 - Feb 2020 using
            <a href="https://spotifycharts.com/">this website</a>. Then, using
            python and the <a href="https://spotipy.readthedocs.io/en/2.12.0/">spotipy library</a>
            we gathered all the spotify features for each song.
        </p>
        <p>
            We also used the Spotify API to get artist features, such as popularity, number of followers, and their
            genres.
        </p>
        <p>
            Using this data, we used machine learning techniques to try to
            predict some things from the data. We built algorithms to predict
            the number of days a song would stay in the top charts, an algorithm
            to capture the overall trend of the song, and a clustering technique
            to try to predict the genre of a song.
        </p>
    </div>
</div>
{% endblock %}