{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
    html,body {
        height: 100%;
    }

    body { 
        background-color: #191414;
    }

    .header {
        color : #1DB954;
    }
</style>
{% endblock %}

{% block content %}
<div class="container d-flex h-75">
    <div class="row align-self-center justify-content-center w-100">
        <div class="col-6 mx-auto text-center header">
            <h1>Spotify Crescendo</h1>
            <h4>A Spring 2020 CDS Insights Project</h4>
            <h4>Kathy Byun, Chris Chen, Angela Loh, Eric Sun</h4>
        </div>
    </div>
</div>
{% endblock %}