{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
  div.tooltip {
    position: absolute;
    background-color: darkblue;
    fill: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    color: white;
  }

</style>
{% endblock %}

{% block content %}
  <div class="row form-inline justify-content-center">
    <div class="form-group mb-2">
      <label for="formSelect mx-sm-3 mb-2">Sort by </label>
      <select class="form-control" id="formSelect">
        <option>Artist</option>
        <option>Song</option>
      </select>
    </div>
    <div class="form-group mb-2">
      <label for="filterSelect mx-sm-3 mb-2"></label>
      <select class="form-control" id="filterSelect">
      </select>
    </div>
    <button id="filterButton" type="submit" class="btn btn-primary mb-2">Filter</button>
  </div>
  <div id="line_graph" class = "row justify-content-center"></div>
  <script type="text/javascript">
    var chartData = {{ data.chart_data | safe }};
  </script>
  <script src="{{ url_for('static', filename='vis.js') }}"></script>
{% endblock %}